<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оплата через PayPal и Обнаружение Мусора</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Сбор средств на борьбу с глобальным потеплением и Обнаружение Мусора</h1>
    </header>

    <main>
        <!-- Секция пожертвований -->
        <section class="donation-section">
            <h2>Пожертвования через PayPal</h2>
            <p>Введите сумму, которую вы хотите пожертвовать:</p>
            <form action="{{ url_for('create_payment') }}" method="POST" class="form-container">
                <label for="amount">Сумма (USD):</label>
                <input type="number" id="amount" name="amount" min="1" step="1" required>

                <div class="percentage-container">
                    <p>Процент создателю:</p>
                    <div class="buttons">
                        <button type="button" class="percentageButton" data-value="0">0%</button>
                        <button type="button" class="percentageButton" data-value="3">3%</button>
                        <button type="button" class="percentageButton" data-value="5">5%</button>
                        <button type="button" class="percentageButton" data-value="10">10%</button>
                    </div>
                    <input type="hidden" id="percentage" name="percentage" value="0">
                </div>

                <button type="submit" class="btn">Оплатить через PayPal</button>
            </form>
    </main>
    <script>
        // Обработка выбора процента для пожертвований
        document.querySelectorAll('.percentageButton').forEach(button => {
            button.addEventListener('click', function() {
                document.querySelectorAll('.percentageButton').forEach(btn => btn.classList.remove('active'));
                this.classList.add('active');
                document.getElementById('percentage').value = this.getAttribute('data-value');
            });
        });
    </script>
</body>
</html>